@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}


:root {
    /* COLORS */
  --first-color: #F9F7F3;
  --second-color: #1D3461;
  --text-color: #C17F37;
  --white-head: #ffffff;
  --accent-color: #2a4a8a;
  --body-color: #3D3D3D;
  
   /* TOPOGRAPHY */
  --body-font: "Outfit", sans-serif;
  --big-fonts-size: 2rem;
  --h2-font-size: 1.27rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  
  --mg-2: 1rem;
  --mg-3: 1.5rem;
  --mg-4: 2rem;
  --mg-5: 2.5rem;
  --mg-6: 3rem;
}


.header {
  max-width: 100%;
  height: auto;
  background-color: var(--first-color);
  padding: var(--mg-3);
}


.nav_grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  z-index: 1000;
  background-color: #ffff;
}


.logo_name a {
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-size: var(--h2-font-size);
  color: var(--second-color);
  text-decoration: none;
}


.nav_bar {
  background: var(--first-color);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 2rem;
  
  position: fixed;
  max-width: 320px;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  /*transform: translateX(100%);
  transition: transition 0.3s ease;*/
}


.nav_bar li {
  font-family: "DM Mono", sans-serif;
  font-size: var(--mg-3);
  display: flex;
  margin: 20px auto;
  
}

.nav_bar a {
  text-decoration: none;
  color: var(--second-color);
}




.hamburger {
  transform: scale(1.5);
}



/*==== WELCOME SECTION ====*/
.welcome {
  background-color: var(--second-color);
  padding: var(--mg-4);
}

.my_intro h1 {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 2.3rem;
  color: var(--white-head);
  max-width: 12rem;
  width: 100%;
  line-height: 1.1;
}


.my_intro span {
  font-family: "Libre Baskerville", sans-serif;
  font-style: italic;
  color: var(--text-color);
}


.my_intro p {
  font-family: var(--body-font);
  font-size: var(--mg-2);
  color: var(--first-color);
  line-height: 1.5rem;
  margin-top: 1.875rem;
}


.btn-wrapper { margin-top: 50px; }

.button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  background-color: var(--accent-color);
  color: var(--white-head);
  padding: 0.8rem 1.5rem;
  border: 1px solid var(--first-color);
  border-radius: 0.4375rem;
}


/*==== BIOGRAPHY SECTION ====*/
.biography {
  background-color: var(--first-color);
  padding: var(--mg-4);
}


.my_bio h2 {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 1.5rem;
  color: var(--second-color);
  line-height: 1.1;
}


.my_bio p {
  font-family: var(--body-font);
  font-size: var(--mg-2);
  color: var(--body-color);
  line-height: 1.5;
  margin: 1rem 0 1rem 0;
}


/*==== FOOTER SECTION ====*/
.pages {
  font-family: var(--body-font);
  background-color: var(--second-color);
  padding: var(--mg-4);
}


.my_footer h3 {
  font-family: "DM Mono", Outfit;
  text-transform: uppercase;
  font-size: var(--normal-font-size);
  color: var(--first-color);
  letter-spacing: 0.125rem;
}


.page_list {
  list-style-type: none;
  color: var(--first-color);
  padding-left: 0;
  margin: 1.25rem 0 1.875rem 0;
  line-height: 1.8;
}


.sc_links h4 {
  font-family: "DM Mono", Outfit;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.06875rem;
}

